body{
    background-color: rgb(164, 250, 221);
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    margin-left: 250px;
    margin-top: 2rem;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

img{
    width: 350px;
    height: 350px;
}