table{
    width: 50%;
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
    border: 2px solid;
    box-shadow: 0 0 5px rgb( 0, 0, 0.2);
    font-size: 1.2rem;
    border-collapse: collapse;
    border-color: black;
}

.hora{
    font-weight: 700;
}

.sox{
    background-color: #088000;
    color: white;
}

.si{
    background-color: #84818E;
    color: white;
}

.aw{
    background-color: #8DEE00;
}

.e{
    background-color: #4ABD8C;
}

.sx{
    background-color: #290087;
    color: white;
}
