body{
    text-align: center;
}

.hora{
    font-weight: 700;
}

.sox{
    background-color: #088000;
    color: white;
}

.si{
    background-color: #84818E;
    color: white;
}

.aw{
    background-color: #8DEE00;
}

.e{
    background-color: #4ABD8C;
}

.sx{
    background-color: #290087;
    color: white;
}
